#navigation-docker {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1em;
    background-color: rgba(245, 241, 234, 0.8); /* Fallback */
    background: var(--bg-glass);
    box-shadow: var(--dropshadow-md);
    z-index: 2;
    backdrop-filter: var(--blur-effect);
}

#logo {
    position: relative;
    height: 7.5rem;
    width: 12.5rem;
}

#home-search {
    display: flex;
    flex-grow: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 5px;
}


#settings-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
    margin-right: 1em;
}

#profile-picture {
    cursor: pointer;
    width: 3.5em;
    height: 3.5em;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all 0.2s ease;
}

#profile-picture:hover {
    border: 2px solid var(--secondary-color);
    box-shadow: var(--dropshadow-sm);
}

#navigation-docker .nav-button {
    cursor: pointer;
    border: none;
    width: 3.5em;
    height: 3.5em;
    margin-inline: 0.5em;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--grey-100);
    border: 1px solid var(--grey-100);
    border-radius: 8px;
    transition: all 0.2s ease;
}

#navigation-docker .nav-button:hover {
    background-color: var(--grey-200);
    transform: scale(1.05);
    box-shadow: var(--dropshadow-sm);
}

#navigation-docker #log-out-button {
    background-image: url(../../../assets/images/icons/logout_icon.png);
}

#navigation-docker #settings-button {
    background-image: url(../../../assets/images/icons/settings-icon.png);
}

#navigation-docker #notifications-button {
    background-image: url(../../../assets/images/icons/notifications-icon.png);
}

#navigation-docker #home-button {
    background-size: 60%;
    background-image: url(../../../assets/images/icons/home-icon.png);
}

@media screen and (max-width: 768px) {
    #navigation-docker {
        padding: 0.5em 0.2em;
        gap: 0.2em;
    }

    #logo {
        flex: 0 0 20%;
        width: auto;
        height: 100%;
        object-fit: contain;
    }

    #home-search {
        flex: 1 1 auto;
        width: auto;
    }

    #home-search #home-button {
        display: none;
    }

    #home-search .search-bar-container .search-sorting-container{
        display: flex;
        flex-direction: column;
    }

    #settings-menu {
        flex: 0 0 auto;
        width: auto;
        margin-right: 0;
        padding-left: 0.2rem;
        gap: 2px;
        justify-content: flex-end;
        padding-right: 2px;
    }

    #navigation-docker .nav-button, #profile-picture {
        width: 2rem;
        height: 2rem;
        margin-inline: 0;
    }
}
