.image-selection{
    position: relative;
}


.choose-file-label{
    display: inline-block;
    width:max-content;
    margin-bottom:0;
    padding:0.6em;
    text-align: center;
    cursor: pointer;
    background: var(--bg-secondary);
    color: var(--text-primary);
    line-height: 1em;
    border-radius: 5px;
    border: 1px solid var(--grey-300);
    font-size:0.9em;

}

.image-selection input[type="file"]{
   display:none;
}