#post-feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1vh;
    box-sizing: border-box;
    width: clamp(30%,60%, 900px);
    min-width: 20em;
    max-width: 70vw;
    height:100%; 
    overflow-y: auto;
}

#new-post-form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: end;
    gap: 0;
}

#submit-post-button{
    
    width:15%;
    height: 2.25rem;
    font-size: 1em;
    margin-top: 0.5vh;
    padding: 0.5em 0;
}
#post-group-selector{
    width: 100%; 
}   

#new-post-field{
    field-sizing: content;
    max-height: 35vh;
}

#posts{
    width:100%;
}

.post-selectors{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0.4em;
}

@media screen and (max-width: 768px){
    #post-feed {
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
    }

    .post-selectors{
        flex-direction: column;
        width: 100%;
    }
    .post-selectors #post-group-selector .dropdown-toggle, .post-selectors .image-selection, .post-selectors .image-selection .choose-file-label{
        width: 100%;
    }

    .post-selectors #post-group-selector .dropdown-toggle{
        justify-content: center;
        font-size: 1em;
    }

    .post-selectors .image-selection .choose-file-label{
        padding: 0.5em 0;
        font-size: 1em;
    }

    .post-selectors #post-group-selector .dropdown-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}