.form-field{
    position: relative;
    width: 100%;
    margin-top: 2vh;
}

.form-field input{
    width: 100%;
    padding: 3vh 1vw;
    outline: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 1px solid #000;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.1em;
    
}

.form-field .popup_text{
    position: absolute;
    left: 0;
    font-size: 1em;
    padding: 3vh 1vw;
    color: #fff;
    letter-spacing: 0.1em;
    border-radius: 4px;
    transition: 0.25s;
    pointer-events: none;
}

.form-field input:focus ~ .popup_text,
.form-field .popup_text.has-content{
    transform: translate(15px,-10px);
    font-size: 0.75em;
    background: #FF6B00;
    color: #fff;
    padding: 2px 5px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    font-weight: bolder;
}

.toggle-password{
    position: absolute;
    right: 1vw;
    top: 2.5vh;
    cursor: pointer;
}   


/* Hide the default password reveal button - we will use our own */
input[type="password"]::-ms-reveal, input[type="password"]::-ms-clear { display: none; }