.field-area{
    width: 100%;
    min-width: 100%;
    min-height: 2.25rem;
    padding: 0.5em 1em;
    outline: none;
    border-radius: 10px;
    background: var(--bg-glass);
    box-shadow: var(--dropshadow-md);
    box-sizing: border-box;
    border: 1px solid var(--grey-300);
    backdrop-filter: var(--blur-effect);
    color: var(--text-primary);
    font-size: 1em;
    letter-spacing: 0.1em;
    resize: none;
}