.image-selection{
    position: relative;
}


.choose-file-label{
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom:0;
    padding:3vh 1vw;
    cursor: pointer;
    background: #222;
    border-radius: 5px;
    border: #000 0.4px solid;

}

.image-selection input[type="file"]{
   display:none;
}

.submit-button#add-item-btn, .submit-button#date-btn {
    margin-top: 0px;
    padding:3vh 1vw;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
}

.card-form-field{
    margin-top:0vh;
}

.card-form-container{
    background: rgba(000, 000, 000, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    padding-bottom:20vh;
    margin-bottom:0;
    height: 12vh;
    margin-top:0vh;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-left: 1vw;
    margin-bottom: 5vh;
}

h2#card-form-title.screen-title{
    margin-top: 0vh;
    margin-bottom: 2vh;
    padding:0;
}


