.chat-list{
    display:flex;
    align-items: center;
    list-style: none;
    justify-items: center;
    
    padding:2em 1em 0 0;
    margin-top: 2vh;
    margin-bottom:0;
    background: var(--background-burn-effect);
    backdrop-filter: var(--blur-effect-heavy);
    box-shadow: var(--dropshadow-medium);
    flex-direction: column;
    
    height:100%;
    width:100%;

    direction:ltr;

}


.chat-item{
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    overflow:hidden;
    align-items: center ;
    justify-content: center;
    padding:0.3em;
    cursor:pointer;
    background: var(--bg-glass);
    box-shadow: var(--dropshadow-medium);
    border-radius: 25px;
    width:100%;
    margin-bottom:0.5em;
    transition: 0.2s ease;
}

.chat-item:hover{
    background: var(--bg-glass-hover);
    box-shadow: var(--dropshadow-heavy);
}

#chat-i{
    justify-content: flex-start;
}

.chat-title{
    font-size:1em;
    margin:0;
}

.page-container{
    width:100%;
}



#chat-list-container{
    display:flex;
    height: 100%;
    top: 13vh; 
    right:0;
    left:auto;
    width: 18vw;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    box-sizing:border-box;
    z-index:0;


}

#chat-avatar{
    height:5rem;
    width:5rem;
    padding:0.5em;
    border-radius: 50%;
    object-fit: cover;
}