.profile{
    display: flex;
    height: 100%;
}

@media screen and (max-width: 768px){
    #profile-page-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}