
.dropdown-toggle {
  width:100%;
  position: relative;
}


#dropdown-menu-toggle{
    background-color: transparent;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height:fit-content;
  max-height: 25vh;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;

  background-color: var(--bg-glass-hover);
  backdrop-filter: var(--blur-effect);
  border-radius: 8px;
  z-index: 1005;
  box-shadow: var(--dropshadow-lg);
}



#drop-menu-item{
    padding:0.4em;
    box-sizing: border-box;
    font-size:0.7em;
    margin:0;
}

.dropdown-item:hover {
  background-color: var(--grey-200);
}

