


.links-group{
  margin-top: 2vh;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links-group button{

    height: 60px;
    width: 200px;
    color: #fff;
    padding: 15px 15px;
    text-decoration: none;
    letter-spacing: 0.02em;
    border-radius: 4px;
    border:#00000047 0.25px solid;
    margin-right: 10px;
    font-size: 0.75em;
    font-weight: 600;
    background: #3636366f;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.links-group button:hover{
  background: #222222;
}

.links-group button:nth-child(2){
    background:#f0f;
    
    box-shadow: 0 0 15px #f0f,
    0 0 30px #f0f,
    0 0 60px #f0f;
}

.links-group button:nth-child(2):hover{
    background:#f0f;
    box-shadow: 0 0 5px #f0f,
    0 0 15px #f0f,
    0 0 30px #f0f;
}   

@media only screen and (max-width: 768px) {
    body {
      background-size: 200%;
    }
    .links-group{
        flex-direction: column;
    }
    .links-group button{
        width: 100%;
    }
  }
  
  @media only screen and (max-width: 460px) {
    body {
      background-size: 300%;
    }
   
  }
