#group-list-wrapper{
    width: 60%;
    height: 100%;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
    justify-content: flex-start;
}

#groups-page-container{
    position: relative;
    width: 98%;
}

.groups{
    align-items:center;
    justify-content: center;
    width:100%;
    height: 100%;
}

#new-group-form{
    display:flex;
    align-self: baseline;
    width:100%; 
    justify-content:space-between;
}

#new-group-field{
    height:100%;
    flex: 1;
}

#create-group-button{
    flex: 2;
    margin-left: 2vw;
    margin-top:0;
    padding: 10px 5px;
}

#invite-popup{
    height:50vh;
}

#groups-list{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 0.2rem;
}

.groups-feed-chat-container{
    display:flex;
    height: calc(100% - 13vh);
    top: 13vh; 
    right:0;
    left:auto;
    width: 17rem;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    box-sizing:border-box;
    z-index:0;
}

@media screen and (max-width: 768px) {
    #groups-page-container {
        flex-direction: column;
        align-items: center;
    }

    #group-list-wrapper {
        width: 90%;
        margin-right: 0;
    }

    #new-group-form{
        
        flex-direction: column;
        align-items: center;
    }
}
