#side-menu{
    margin-top: 13.2vh;
    left:0;
    display: flex;
    background: var(--bg-glass);
    flex-direction: column;
    width: 18vw ;
    justify-content:left;
    backdrop-filter: var(--blur-effect-heavy);
}

.menu-item{
    width: 100%;
    padding: 20px 25px;
    margin-top: 2.5vh;
    outline: none;
    border: none;
    background: var(--bg-glass);
    box-shadow: var(--dropshadow-medium);
    box-sizing: border-box;
    backdrop-filter: var(--blur-effect);
    color: var(--text-primary);    
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.25s;
}

.menu-item:hover{
    background-color: var(--primary-600);
    color: var(--text-primary);
}

@media screen and (max-width: 768px){
    #side-menu {
        position: fixed;
        left: 0;
        top: 13.2vh;
        margin-top: 0;
        background-color: white;
        height: calc(100% - 13.2vh);
        width: 75vw;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
    }

    #side-menu .menu-item{
        border-bottom: 1px solid var(--grey-300);
    }

    #side-menu.mobile-open {
        transform: translateX(0);
        box-shadow: 5px 0 15px rgba(0,0,0,0.3);
    }
}