#popup-backdrop{
    position: fixed;
    /*Centeralize*/
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

#popup-content{
    background: #fd8d5db0;
    padding: 2rem;
    border-radius: 8px;
    width:50vw;
    height:90vh;
    max-width: 75%;
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: scaleIn 0.3s ease;
    z-index: 1001;
}

#close-button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}


/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


body.modal-open {
    overflow: hidden;
}