html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: min(90%, 900px);
}

.docked-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-width: 20rem;    
    text-align: center;
    padding: 3rem 3rem;
    border-radius: 10px;
    background: var(--bg-glass);
    box-shadow: var(--dropshadow-md);
    border: 1px solid var(--grey-300);
    backdrop-filter: var(--blur-effect) var(--burn-effect);
    
}

.page-container {
    display: flex;
    margin-top: 15dvh;
    flex-direction: row;
    width: 100%;
    height: 100%;
    height: calc(100% - 13vh);
    justify-content: center;
    overflow: hidden;
}

.submit-button {
    width: 100%;
    margin-top: 2vh;
    padding: 1.5em 3em;
    outline: none;
    border-radius: 10px;
    background: var(--primary-color);
    box-shadow: var(--dropshadow-sm);
    box-sizing: border-box;
    border: 1px solid transparent;
    color: var(--bg-primary);
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: 0.25s;
}

.submit-button:hover {
    background: var(--secondary-color);
    color: var(--text-primary);
    box-shadow: var(--dropshadow-md);
}


@media only screen and (max-width: 768px) {
    .auth-form-container {
        height: 80%;
        width: 40vw;
    }
}

@media only screen and (max-width: 460px) {
    .auth-form-container {
        width: 70vw;
    }

}

/* Cloudy Glass Background Effect */
.cloudy-glass-background {
  position: relative;
  background-color: var(--bg-glass-50);
  backdrop-filter: var(--blur-effect);

}
